<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app">
    早饭吃没:
    <input type="radio" value="吃了"> 吃了
    <input type="radio" value="没吃" v-model="food"> 没吃

    <select name="" v-model="selected" id="">
      <option>html</option>
      <option>vue</option>
      <option>js</option>
    </select>
  </div>
  <script type="module">
    import { createApp } from '../vue.js';
    createApp({
      data() {
        return {
          food: '没吃',
          selected: 'js'
        }
      },
      methods: {

      }

    }).mount('#app')

  </script>
</body>

</html>