<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <p>今年{{age}} 岁</p>
    <!-- 使用input修改年龄 -->
    <input type="text" name="" v-model="age" id="">
    <!-- 根据年龄大小,判断可以干啥 18岁以下看动画片  18岁成人 18岁以上干啥都行 -->
    <div v-if="age<18"> 看动画片</div>
    <div v-else-if="age==18">成人礼</div>
    <div v-else>干啥都行 </div>
  </div>
  <script type="module">
    import { createApp } from '../vue.js';
    createApp({
      data() {
        return {
          age: 22
        }
      },
      methods: {

      }
    }).mount('#app')

  </script>
</body>

</html>